.register-header
 .register-header_content
  %h1
   %a
    = image_tag "top_page/header-mercari.svg", size: '180x50', alt:"mercari"
  .header-bar
   %ol
    %li.info
     会員情報
     .border-radius_red
     .header-border_red
    %li.info
     電話番号認証
     .border-radius_red
     .header-border_red
    %li.info
     お届け先住所入力
     .border-radius_red
     .header-border_red
    %li.info
     支払い方法
     .border-radius_red
     .header-border_red
    %li.info
     完了
     .border-radius_red

.register 
 .register_container
  .register_container_view
   %h2.register_view_title 会員登録完了

 .register_create
  .register_create_form
   %p ありがとうございます。
   %p 会員登録が完了しました。
    
  .register_create_form
   %button{type: "submit",class: "next_btn"}
    = link_to "メルカリをはじめる", root_path, class: "next_btn"

 .form-banner-phone
  .form-banner-phone__image
   = image_tag "top_page/banner-phone.png", size: '700x400';
  .form-banner-phone__top
   %h2 スマホでかんたん
   %h2 フリマアプリ
  .form-banner-phone__bottom
   
  .form-banner-phone__icon
   = image_tag "top_page/icon-app_store.svg", size: '170x50', alt: "App Store", class: "appuser"
   = image_tag "top_page/icon-google_play.svg", size: '170x50',alt: "Google-Play", class: "goouser"