.purchase
 .purchase_notification
  .purchase_notification_sending
   %i.far.fa-clock 発送をお待ち下さい。
   %p.notice 出品者からの発送通知をお待ちください。
   
  .purchase_notification_view
   %h2.purchase_view_title 購入が完了しました
  
  .purchase_notification_product
   = image_tag "", class: "product-image", size: '200x200'
   .purchase_notification_product_title
    = @product.name

  .purchase_notification_price
   %li.yen
    = "¥ #{@product.price}"
   %li 送料込み
   -#    = @product.shiiping_charge

  .purchase_notification_form
   .purchase_notification_form_base
    - @useraddress.each do |useraddress|
     %label 配送先
     .purchase-postal
      〒
      = useraddress.postal_code
      %br
      = useraddress.prefecture.name + useraddress.address_city + useraddress.address_street + useraddress.address_building
      %br
      = current_user.nickname

  .purchase_notification_back
   = link_to "商品へ戻る", product_path(@product)