.wrapper
 .wrapper_content
  %h1
   %a
    = image_tag "top_page/header-mercari.svg", size: '180x50', alt:"mercari"

.login
 .login-sign
  .login_container_new
   %p アカウントをお持ちでない方はこちら
   = link_to "新規会員登録", "/users/sign_up/", class: "new_btn"

 .login-field
  .login-field_form
   %button#facebook
    Facebookでログイン
    %i.fa.fa-facebook-square.fa-2x
    
   %button#Google
    Googleでログイン
    .icon_img
     = image_tag "registrations_page/g-icon.png", size: '20x20', alt:"google"
    

  = form_for user_session_path, class: "session-form" do |f|
   .form
    = f.email_field :email, class: "form_input", autocomplete: "email", placeholder: "メールアドレス"

   .form
    = f.password_field :password, class: "form_input", autocomplete: "current-password", placeholder: "パスワード"

   .form
    = recaptcha_tags
  
   .form
    = f.submit "ログイン", class: "login-btn"
   
   .form_forget
    = link_to "パスワードをお忘れの方", "https://www.mercari.com/jp/password/reset/start/", class: "forget_link"