.register-header
 .register-header_content
  %h1
   %a
    = image_tag "top_page/header-mercari.svg", size: '180x50', alt:"mercari"

.purchase
 .purchase_show
  .purchase_show_view
   %h2.purchase_view_title 支払い方法
 .purchase_option
  .purchase_option_creditcards
   .purchase_option_creditcards_info
    %label クレジットカード一覧
    %br
    = image_tag "card/#{@card_src}",size: '50x30', alt: @card_brand, id: "card_image"
    %br
    = "**** **** **** " + @default_card_information.last4
    %br
    - @default_card_information.brand
    - exp_month = @default_card_information.exp_month.to_s
    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
    = exp_month + " / " + exp_year
    %br

 .purchase_next
  .purchase_next_btn
   %button{ type: "submit", class: "next-btn" }次へ進む
   
  = form_tag(cards_path, method: :post, id: 'charge-form',  name: "inputForm") do  
   %input{ type: "hidden", name: "card_id", value: "" }
    -# %button 削除する