.item
  .item__name
    =@product.name
  .item__content
    .item__content__photo
      %ul.main-window
        - @product_images.each do |product_image|
          %li
            = image_tag product_image.image, alt: "画像", size: "300x300"

      %ul.sub-window
        - @product_images.each do |product_image|
          %li
            = image_tag product_image.image, alt: "画像", size: "60x60"

    %table.item__content__detail
      %tr
        %th 出品者
        %td
          = @product.seller.nickname
          .icon-list
            -if Evaluation.find_by(user_id: @product[:seller_id]).present?
              .icon.good
                = @product.seller.evaluation.good
              .icon.normal
                = @product.seller.evaluation.normal
              .icon.bad
                = @product.seller.evaluation.bad
            - else
              .icon.good
                = "  0"
              .icon.normal
                = "  0"
              .icon.bad
                = "  0"
      %tr
        %th カテゴリー
        %td
          = link_to " " do
            .category
              = @product.category.root.name
          - if @product.category.name == 'オートバイ車体'
            = link_to " " do
              .category
                = @product.category.name
          - else
            = link_to " " do
              .category
                = @product.category.parent.name
            = link_to " " do
              .category
                = @product.category.name

      %tr
        %th ブランド
        %td 
          - if @product.brand_id.present?
            = link_to " " do
              = @product.brand.name

      -if @product.size_id.present?
        %tr
          %th 商品のサイズ
          %td 
            = @product.size.name
              
      %tr
        %th 商品の状態
        %td 
          = @condition
      %tr
        %th 配送料の負担
        %td 
          = @shipping_charge
      %tr
        %th 配送の方法
        %td 
          = @shipping_method
      %tr
        %th 配送元地域
        %td
          = link_to " " do
            = @ship_from
      %tr
        %th 配送日の目安
        %td 
          = @shipping_days
            

            
          
  .item__amount
    .item__amount--price
      ¥1,700
    .item__amount--tax
      （税込）
    .item__amount--shipping-fee
      送料込み
  .item__buy-btn
    = link_to "購入画面に進む", purchases_path(product: @product)
  .item__description
    = @product.description

  .item__buttons
    .item__buttons--left
      .item__buttons--left--like
        = fa_icon "heart-o",class: "menu__icon"
        いいね！
      .item__buttons--left--report
        = fa_icon "flag-o",class: "menu__icon"
        不適切な商品の報告
    .item__buttons--right
      = fa_icon "lock",class: "menu__icon"
      あんしん・あんぜんへの取り組み

.comment
  .comment__list
  .comment__box
    = form_for [@product, @comment], html: { id: 'new-comment' } do |f|
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = f.text_area :content, class: "input"
      = f.submit "コメントする", class: "button"
.nav
  .nav--prev
    PREV
  .nav--next
    NEXT

.social-media
  .social-media__box
    .social-media__box--facebook
    .social-media__box--twitter
    .social-media__box--pinterest

.other-items
  .other-items__users
    .other-items__users__header
      = link_to " " do
        = "#{@user.nickname}さんのその他の出品"
    .other-items__users__content
      = render 'items_show', products: @products_related_user
  .other-items__related
    .other-items__related__header
      = link_to " " do
        -if @product.brand_id != nil
          = "#{@product.brand.name}の#{@product.category.name}その他の出品"
        -else
          = "#{@product.category.name}その他の出品"
    .other-items__related__content
      = render 'items_show', products: @products_related_category
.bread-crumbs__bottom
  %ul
    %li
      = link_to root_path do
        メルカリ
    %li
      = @product.name
        