%header
  .wrapper
    .wrapper__content__top
      = link_to root_path do
        =image_tag "top_page/header-mercari.svg",size: '134x36',class: "mercari", alt:"mercari"
      = form_tag('/search', method: :get, class: 'search-form') do
        %input.search-form__input{name: "keyword", placeholder: "何かお探しですか？", type: "text", value: ""}
        %button.search-form__btn{type: "submit", class: "fas"}
          = fa_icon "search",class: "search-form__icon"
    .wrapper__content__bottom
      .wrapper__content__bottom--left
        #pulldown
          %ul.menu
            %li
              = fa_icon "bars",class: "menu_icon"  
              %a{href: ""} カテゴリーから探す
              %ul.sub
                - parents_category.each do |parent|
                  %li
                    %a{href: ""}
                      =parent.name
                    %ul.sub
                      - parent.children.each do |child|
                        %li
                          %a{href: ""}
                            =child.name
                          %ul.sub
                            - child.children.each do |grandchild|
                              %li
                                %a{href: ""}
                                  =grandchild.name
                %li
                  %a{href: ""} 
                    カテゴリー一覧

            %li
              = fa_icon "tags",class: "menu_icon"  
              %a{href: ""} ブランドから探す
              %ul
                - parents_brand.each do |parent|
                  %li
                    %a{href: ""}
                      =parent.name
                %li
                  %a{href: ""} 
                    ブランド一覧

      .wrapper__content__bottom--right
        .liked_items
          -#ログイン時
          = link_to "" do
            = fa_icon "heart-o",class: "menu__icon"
            いいね！一覧
        .news
          = fa_icon "bell-o",class: "menu__icon"
          お知らせ
        .todo
          = fa_icon "check",class: "menu__icon"
          やることリスト
        .mypage
          = link_to "マイページ", users_path, class: "menu__mypage"
          =image_tag "top_page/icon-avater.png", size: '32x32', class: "avater", alt:"avater"
        -# -#非ログイン時
        -# .sign-up
        -#   新規会員登録
        -# .log-in
        -#   ログイン