%header
  .wrapper
    .wrapper__content__top
      = link_to root_path do
        =image_tag "top_page/header-mercari.svg",size: '134x36',class: "mercari", alt:"mercari"
      = form_tag('/search', method: :get, class: 'search-form') do
        %input.search-form__input{name: "keyword", placeholder: "何かお探しですか？", type: "text", value: ""}
        %button.search-form__btn{type: "submit", class: "fas"}
          = fa_icon "search",class: "search-form__icon"
    .wrapper__content__bottom
      .wrapper__content__bottom--left
        #pulldown
          %ul.menu
            %li
              = fa_icon "bars",class: "menu_icon"  
              = link_to "カテゴリーから探す", "" 
              %ul.sub
                - parents_category.each do |parent|
                  %li
                    = link_to "" do
                      =parent.name
                    %ul.sub
                      - parent.children.each do |child|
                        %li
                          = link_to "" do
                            =child.name
                          %ul.sub
                            - child.children.each do |grandchild|
                              %li
                                = link_to "" do
                                  =grandchild.name
                %li
                  = link_to "カテゴリー一覧", ""
                    

            %li
              = fa_icon "tags",class: "menu_icon"  
              = link_to "ブランドから探す",  ""
              %ul
                - parents_brand.each do |parent|
                  %li
                    = link_to "" do
                      =parent.name
                %li
                  = link_to "ブランド一覧", ""
                    
      -if user_signed_in? && current_user 
        .wrapper__content__bottom--right
          .liked_items
            = link_to "" do
              = fa_icon "heart-o",class: "menu__icon"
            いいね！一覧
          .news
            = fa_icon "bell-o",class: "menu__icon"
            お知らせ
          .todo
            = fa_icon "check",class: "menu__icon"
            やることリスト
          .mypage
            = link_to "マイページ", users_path, class: "menu__mypage"
            =image_tag "top_page/icon-avater.png", size: '32x32', class: "avater", alt:"avater"
      -else
        .wrapper__content__bottom--right
          .log-in
            = link_to "ログイン", "/users/sign_in"
          .sign-up
            = link_to "新規会員登録", "/users/sign_up/index"